body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
  overflow: hidden;
  transition: background-color 300ms;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &[theme-dark] {
    background-color: #212121;
  }
}

[v-cloak] {
  display: none
}

* {
  font-family: "Rubik", serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5797ff;

  &:focus {
    text-decoration: underline;
  }
}