body {
  margin: 0;
  background-color: #e8e8e8;
  height: 100vh;
}

.root {
  min-height: 100%;
  overflow: auto;
}

[v-cloak] {
  display: none
}

* {
  font-family: "Rubik", serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5797ff;
}